!!!
%html.no-js
  = head
  %body
    %div{"data-role" => "page"}
      %div{"data-role" => "header"}
        = render 'shared/logo'
        = render 'shared/navigation'
      %div{"data-role" => "content"}
        = yield
      = render 'shared/footer'
    = scripts
