!!!
/[if IEMobile 7]><html class="no-js iem7"><![endif]
/[if (gt IEMobile 7)|!(IEMobile)]><!-->
%html.no-js
  /<![endif]

  = head
  %body
    %div{"data-role" => "page"}
      %div{"data-role" => "header"}
        = render 'shared/logo'
        = render 'shared/navigation'
      %div{"data-role" => "content"}
        = yield
      = render 'shared/footer'
    = scripts
