!!!
/[if IEMobile 7]><html class="no-js iem7"><![endif]
/[if (gt IEMobile 7)|!(IEMobile)]><!-->
%html.no-js
  /<![endif]

  = head
  %body
    %header{:role => "banner"}
      = render :partial => 'layouts/logo'
      = render :partial => 'layouts/navigation'
    #main{:role => "main"}
      = yield
    = render :partial => 'layouts/footer'
    = scripts
